<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>CEO que Programa</h1>
            <hr>
            <p>Onde você encontra dicas sobre carreira em tecnologia</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Se inscreva no canal</a>
        </div>
    </div>
</header>
